#myCanvas{
    border: 10px solid #2862ad;
    background-color: #f6f6f6;
    display: block;
    margin: 0 auto;
    width: 500px;
    max-height: 40%;
    border-radius: 10%;
}


.controls .controls-btn{
    width: 210px;
    margin: auto;
    margin-top: 2cm;
    display: flex;
    gap: 20px;
}
.controls .control{
    width: 100px;
    height: 60px;
    color: white;
    border: none;
    background-color: #673AB7;
}
.controls .control i{
    font-size: 3rem;
    font-weight: 700;
}
.controls .fire-control{
    position: relative;
    top: 50px;
    left: 300px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background: red;
}
.controls .left-control{
    
}
.controls .right-control{
    
}